<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhb.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.lhb.entity.Permission">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    pid, pname, remark
  </sql>
  <!-- 根据添加查询用户集合 支持分页  -->
  <select id="selectByParams" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from s_permission 
  	where 1=1 
  	<if test="(index!=null and index!='') and (pagesize!=null and pagesize!='')">
  		LIMIT #{index},#{pagesize}
  	</if>
  </select>
  
  <!-- 根据条件查询 总条数 -->
  <select id="selectCountByParams" resultMap="int">
  	select count(*) from s_permission where 1=1 
  </select>
  
  <!-- 根据角色集合  获取对应的权限信息 -->
  <select id="selectByRoles" parameterType="java.util.List" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from s_permission where pid IN
	(
		select pid from s_role_permission where rid  in 
			<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		
	)
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_permission
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from s_permission
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lhb.entity.Permission">
    insert into s_permission (pid, pname, remark
      )
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lhb.entity.Permission">
    insert into s_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhb.entity.Permission">
    update s_permission
    <set>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhb.entity.Permission">
    update s_permission
    set pname = #{pname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>